<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/header_footer.css" />
    <link rel="stylesheet" type="text/css" href="/posts.css" />
    <link rel="stylesheet" type="text/css" href="/create.css" />
    <title>Blog App</title>
  </head>
  <body>
    <header>
      <nav class="post-nav">
        <ul class="nav-list">
          <li class="nav-list-item">
            <a class="nav-link post-text" href="/posts">Posts</a>
          </li>
          <li class="nav-list-item">
            <a class="nav-link post-text" href="/create-post">Create</a>
          </li>
        </ul>
      </nav>
    </header>
  </body>
</html>
