<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="login.css" />
    <title>Login</title>
  </head>
  <body>
    <main>
      <div class="container">
        <div class="left-side side-container">
          <p class="medium-text">Nice to see you again</p>
          <p class="large-text">WELCOME BACK</p>
          <figure class="white-block"></figure>
          <p class="small-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud aliquip ex ea commodo consequat.
          </p>
        </div>
        <div class="right-side side-container">
          <div class="small-container">
            <h2 class="login-header">Login Account</h2>
            <p class="login-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua.
              Natoque penatibus et magnis dis parturient montes.
            </p>

            <form action="/posts" method="POST">
              <input type="text" placeholder="Username" class="user-input" name="username"/>
              <input type="text" placeholder="Password" class="user-input" name="password" />
              <button type="submit" class="login-btn">Login</button>
            </form>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
